body{
    background-color:#af7f5d;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;

  }
   h1 { 
     font-size: 100px; 
    color: red;}
    
  
  ul {
    
  font-family: "Lucida Console", Courier, monospace;
  }
  #menu{
     margin-left:100px;
    display:inline-block;
    color: yellow;
  }
  
  #inputs{
    display:inline-block;
    margin-left:290px;
    font-size:17px;
    font-weight:bold;
    float: right;
    width: 300px;
    border: 15px solid grey;
    padding: 50px;
    background:#d48983;
    font-family: Luminari ;
    background-color:#211e1e;
    color:white;
    border-radius:5px;
    height:auto;
    width:450px;
    text-align:center;
  }
  div{
    display: inline-block;
  }
  
  #headingg{
    color: red;
  }
  
  
  table,
  td {
      border: 1px solid #333;
  }
  
  thead,
  tfoot {
      background-color: #333;
      color: #fff;
  }
  
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    margin-left: 10cm;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #inputs1{
    display:inline-block;
    margin-right:70px;
    font-size:17px;
    font-weight:bold;
    width: 300px;
    border: 15px solid grey;
    padding: 50px;
    background:#d48983;
    font-family: Luminari ;
    background-color:#211e1e;
    color:white;
    border-radius:5px;
    height:auto;
    width:450px;
    text-align:center;
  }
  
  #myBtn{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #6f4e37;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  #li {
  
  font-size: large;
  }

  .span{
    display: inline-flex;
  }

  #dynamic-list{
    color: #000;
  }